<h1 id="title">Episodes</h1>
<% if @episodes.empty? %>
	<p>No episodes in database.</p>
<% else %>
	
	thank you emmet: table>(thead>tr>th*7)(tbody>tr>td*7)
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Desciption</th>
				<th>Episode Number</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @episodes.each do | e | %>
			<tr>
				<td><%= e.id %></td>
				<td><%= e.title %></td>
				<td><%= e.description %></td>
				<td><%= e.episode_number %></td>
				<td>Show</td>
				<td>Edit</td>
				<td>Destroy</td>
			</tr>
			<% end %>
		</tbody>
	</table>

<% end %>