/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 a {
 	color: #fff;
 }
nav#top {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background-color: #686868;
	padding: 1em;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li {
		display: inline-block;
	}
	a {
		color: #fff;
		padding: 1em;
		text-decoration: none;
		&:hover {
			color: #FF5757;
		}
	}
}
.field {
	margin-bottom: 1em;
}
table {
	width: 100%;
	td,th {
		padding: 3px;
	}
	th {
		background-color: #141414;
	}
	td {
		background-color: rgb(49, 49, 49);
	}
}

#new_form {
	form {
		background-color: #000;
		padding: 1em;
		margin: 1em auto;
	}
}

.field_with_errors {
	background-color: rgb(202, 101, 101);
	padding: 1em;
}